.workshop{
	width: 100%;
	min-height: 400px;
	padding: 50px 0;

	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
	font-weight: 300;
}

.workshop p{
	font-size: 1.8rem;
}
.workshop a, .workshop a:hover{
	color: white;
	font-weight: 400;
}
.main-info h2{
	margin-top: 0 0 20px 0;
	font-size: 3.6rem;
	line-height: 3.6rem;
	color: #fff;
	font-weight: 200;
}
.main-info p{
	margin-bottom: 20px;
	font-size: 1.8rem;
	line-height: 1.8rem;
	font-weight: 400;
}
.date-info{
	margin-top: 20px;
}
.date-info h3{
	display: inline-block;
	padding: 3px 10px;
	margin:  0 0 4px 0;
	color: #fff;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0,0,0,0.5);
}
.date-info h3 > strong{
	margin-right: 10px;
}
.workshop .btn, .workshop .btn:hover{
	padding: 10px 35px;
	color: #fff;
}
.more-info-link{
	margin: 0 15px;
}
#w1{
	background-image: url('../image/bg_ws_01.png');
}
#w1 p{
	color: #B25900;
}
#w1 p> a {
	color: #661900;
}
#w1 .btn{
	background-color: #661900;
}
#w2 {
	background-image: url(../image/bg_ws_02.png)
}
#w2 p{
	color: #FFA5A5;
}
#w2 p > a{
	color: #fff
}
#w2 .btn{
	color: #444;
	background-color: #EEEEEE;
}

@media (min-width: 768px){
	.main-info h2{
		font-size: 5.6rem;
		line-height: 5.6rem;
	}
	.workshop-left h3{
		float: right;
		clear: right;
		text-align: right;
	}
	.workshop-right h3{
		float: left;
		clear: left;
		text-align: left;
	}
	.workshop-left{
		text-align: left;
	}
	.workshop-right{
		text-align: right;
	}
}

@media (min-width: 992px){
	
}

@media (min-width: 1200px){
	
}